services:
  mqtt-client:
    image: timoisdepsky/grumpybin:latest
    container_name: mqtt-client
    restart: unless-stopped
    volumes:
      - ./lines:/app/lines # Change host file to /usr/local/bin/grumpybin/lines if using install script
    environment:
      - MQTT_BROKER=mqtt-broker
      - MQTT_PORT=1883
      - MQTT_TOPIC=grumpybin/lines
      - LOG_LEVEL=INFO # Set to DEBUG for detailed logs, INFO for less verbose
    networks:
      - mqtt-network
    depends_on:
      - mqtt-broker
  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: mqtt-broker
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mqtt/mosquitto_data:/mosquitto/data
      - ./mqtt/mosquitto_config:/mosquitto/config
      - ./mqtt/mosquitto_log:/mosquitto/log
    networks:
      - mqtt-network

networks:
  mqtt-network:
    driver: bridge
